<div class="repo">
    <div class="repo-container">
        <div class="repo-details">
            <div ng-if="ctrl.repo.name" class="repo-details-name">{{ctrl.repo.name}}
                <span ng-if="!ctrl.repo.public" class="repo-details-private">private</span>
            </div>

            <div ng-if="ctrl.repo.description" class="repo-details-description">{{ctrl.repo.description}}</div>
        </div>
        <div class="repo-links">
            <div ng-if="ctrl.repo.links && ctrl.repo.links[0]" class="repo-details-edit-permissions">
                <md-radio-group>
                    <md-button ng-click="ctrl.permissionClick(ctrl.repo.links[0], 'none')">
                        NONE
                    </md-button>
                    <md-button ng-click="ctrl.permissionClick(ctrl.repo.links[0], 'pull')">
                        READ
                    </md-button>
                    <md-button ng-click="ctrl.permissionClick(ctrl.repo.links[0], 'push')">
                        WRITE
                    </md-button>
                    <md-button ng-click="ctrl.permissionClick(ctrl.repo.links[0], 'admin')">
                        ADMIN
                    </md-button>
                </md-radio-group>
            </div>
        </div>
    </div>
</div>
