<div loading-dialog="ctrl.users"></div>
<div class="repos list-container" ng-if="!ctrl.users">
    <h4 style="text-align: center;">Fetching organization...</h4>
</div>
<div class="organization" ng-show="ctrl.users">
    <table>
        <thead>
            <tr>
                <th></th>
                <th ng-repeat="item in ctrl.repos"><div><span>{{ item.name }}</span></div></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in ctrl.users">
                <td class="username"><div>{{ user.username }}</div><span>{{ user.name }}</span></td>
                <td ng-repeat="item in ctrl.repos" title="{{ item.name + ', ' + user.username }}", ng-class='user.owner ? "owner" : (item.collaborators[user.username] ? item.collaborators[user.username].permissions : "")'>
                    {{ ctrl.getPermissions(user, item.collaborators[user.username]) }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
