@import "variables";
@import "imports";
@import "user";
@import "users";
@import "repo";
@import "repos";
@import "navbar";

body, html {
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial;
    font-size: 14px;
    margin: 0;
    background-color: #f3f3f3;
}

.github-permission {
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 6px;
    margin-right: 6px;
    text-align: right;
    padding-right: 18px;
    background-image: url("assets/images/GitHub-Mark-32px.png");
    background-size: 12px 12px;
    background-position: right;
    background-repeat: no-repeat;
    color: #000;
    opacity: .25;
    display: block;
}

.permission-current {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.typeahead {
  max-width: 600px;
  margin: 10px auto;
  input {
    padding-left: 5px;
  }
}
.list-container {
  .typeahead {
    margin-left: 20px;
  }
}
