.organization {
  margin: 30px;
  table {
    table-layout: fixed;
    border-collapse: collapse;
    thead {
      border: none;
    }
    th {
      height: 140px;
      white-space: nowrap;
    }
    th > div {
      transform: translate(5px, 51px) rotate(315deg);
      width: 30px;
    }
    th > div > span {
      padding: 5px 10px;
    }
    tbody {
      td {
        padding: 10px 5px;
        text-align: center;
      }
      .username {
        div {
          font-weight: bold;
        }
        span {
          font-size: smaller;
        }
      }
      .pull {
        background-color: rgba(0, 128, 0, .5);
      }
      .push {
        background-color: rgba(255, 255, 0, .5);
      }
      .admin {
        background-color: rgba(255, 0, 0, .5);
      }
    }
    tr:nth-child(odd) {
      background-color: rgba(255, 255, 255, .75);
    }
//    td:nth-child(odd) {
//      background: #fff;
//    }
    th:nth-child(odd) > div > span {
      background: #fff;
    }
  }
}
