.repo {
    margin-top: -1px;
    border-top: 1px solid #ddd;
    padding: 12px;
    height: 75px;
    position: relative;

    &.repo_active {
        box-shadow: 0px 0px 15px rgba(0,0,0,.3), -4px 0 0 #2196F3;
        height: 400px;
        transition: height .25s;
    }

    &:hover {
        z-index: 3;
        box-shadow: 0px 0px 15px rgba(0,0,0,.3), -4px 0 0 #2196F3;
    }

    .repo-container {
        display: flex;
        align-items: center;

        .repo-details {
            flex: 1;
            padding-left: 12px;
        }

        .repo-details-name {
            font-weight: 600;
            margin-bottom: 6px;

            &:only-child {
                margin-bottom: 0;
            }
        }

        .repo-details-description {
            color: #808080;
        }

        .repo-details-edit-permissions {
            color: #808080;
        }

        .repo-details-private {
            display: inline-block;
            padding: 4px 5px 3px;
            font-size: 11px;
            font-weight: 300;
            line-height: 11px;
            color: #a1882b;
            text-transform: uppercase;
            vertical-align: middle;
            background-color: #ffefc6;
            border-radius: 3px
        }
    }

}

.repo-users {
  background: #f9f9f9;
}