<div class="user">
    <div class="user-container">
        <div ng-if="userCtrl.user.avatar_url" class="user-avatar">
            <img ng-src="{{userCtrl.user.avatar_url}}">
        </div>
        <div class="user-details">
            <div ng-if="userCtrl.user.name" class="user-details-name">{{userCtrl.user.name}}</div>
            <div ng-if="userCtrl.user.username" class="user-details-username">{{userCtrl.user.username}}</div>
        </div>
        <div class="user-links">
            <div ng-if="userCtrl.user.links && userCtrl.user.links[0]" class="user-details-edit-permissions">{{userCtrl.user.links[0].rel}}</div>
        </div>
    </div>
</div>
